.register-container {
  max-width: 400px;
  margin: 0 auto;
  
}
.register-container h2 {
  text-align: center;
}
form{
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px;
}
.form-control {
  margin-bottom: 20px;

}

.form-control label {
  display: block;
  
}

.form-control input[type="text"],
.form-control input[type="number"],
.form-control input[type="email"],
.form-control input[type="password"],
.form-control input[type="date"],
.form-control textarea,
.form-control select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control textarea {
  height: 100px;
}

#gender {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#gender input[type="radio"] {
  margin-right: 10px;
}
.hobbies-container {
  display: flex;
  align-items: center;
}

.hobbies-container label {
  margin-right: 10px;
}

.hobbies-container input[type="checkbox"] {
  margin-right: 5px;
}
#submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #45a049;
}

#cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

#cancel-btn:hover {
  background-color: #d32f2f;
}






